<!DOCTYPE html>
<html>
<head>
	<title>Basic HTML</title>
	<link rel="icon" href="assets/img/favicon.jpg">
	<link rel="stylesheet" type="text/css" href="css/calculator.css">
</head>
<body>
	<div id="first">
		Enter First Number:
			<input type="text" id="fn" />
	</div>
	<div id="second">
		Enter Second Number:
			<input type="text" id="sn" />
	</div>
	<div>Sum is <span id="answer"></span></div>
	<button onclick="addMe()">Add Me!</button>
	<script type="text/javascript" src="js/calculator.js">
	</script>
</body>
</html>